@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../images/download1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/download1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
}

.wrapper__logo {
  margin-top: 15%;
  margin-bottom: 45%;
}

.wrapper__Btns {
  display: -ms-grid;
  display: grid;
  margin-top: 5%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  text-align: center;
}

.wrapper__leftBtn, .wrapper__rightBtn {
  color: #ffc72c;
  background-color: #000000;
  padding: 2rem 6rem;
  font-size: 2rem;
  border: 4px solid #ffc72c;
  border-radius: 42.5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  position: relative;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
}

.menu__header {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem;
  -webkit-box-shadow: 0px 6px 31px rgba(8, 37, 85, 0.122);
          box-shadow: 0px 6px 31px rgba(8, 37, 85, 0.122);
}

.menu__heading {
  font-size: 250%;
  /* 3rem */
  font-weight: 600;
}

.menu__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__cart--icon {
  font-size: 200%;
  /* 2rem */
  border: 4px solid black;
  padding: 0.8rem 0.7rem;
}

.menu__cart--itemCount {
  font-size: 100%;
  /* 1.2rem */
  line-height: 0.5rem;
  padding: 18%;
  /* 0.8rem */
  background: #ffc72c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 3px solid white;
  top: -20%;
  right: -35%;
  font-weight: bold;
}

.menu__logo {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: 20%;
}

.shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  grid-gap: 3%;
}

.shop__menu {
  grid-column: 0 / 1;
  margin-top: 1rem;
}

.shop__products {
  grid-column: 2 / -1;
}

.shop__productSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 92rem;
  padding: 1rem;
  grid-gap: 0rem;
  margin-top: 1rem;
  padding-top: 0rem;
}

.shop__menuList {
  list-style: none;
}

.shop__menuListItem {
  font-size: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
  padding-left: 1.8rem;
  position: relative;
  font-weight: normal;
  line-height: 4rem;
}

.shop__menuListItem.active {
  background-color: #ffc72c;
  width: 100%;
  font-weight: 600;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.shop__menuListItem::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 3%;
  background-color: #ffc72c;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.shop__menuListItem:hover:before {
  width: 100%;
}

.shop__productSection--card {
  pointer-events: none;
  padding: 1rem;
  height: 90%;
  margin: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.shop__productSection--card:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shop__productSection--image {
  pointer-events: all;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  /*width: 284px; */
  height: auto;
  /* height: 147px; */
}

.shop__productSection--cardHeading {
  pointer-events: all;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  padding-top: 1rem;
  font-size: 1.1rem;
  /* 1.1rem  100%*/
}

.shop__productSection--cardParag {
  pointer-events: all;
  cursor: pointer;
  min-height: 5rem;
  color: #8a959e;
  font-size: 0.8rem;
  /* 0.8rem  60%*/
  text-align: center;
  padding-top: 0.5rem;
}

.shop__productSection--cardPrice {
  padding-top: 0.5rem;
  pointer-events: all;
  cursor: pointer;
  text-align: center;
  min-height: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  /* 1.5rem 150%*/
}

.shop__listText {
  position: relative;
  pointer-events: none;
}

.shop.checkout {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.cartSection {
  background-color: #fff;
  -webkit-clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
          clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0rem;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* 100 */
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cartSection__closeIcon {
  color: #fff;
  font-size: 10rem;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-300%) translate(-50%, -50%);
          transform: translateY(-300%) translate(-50%, -50%);
  z-index: 9999;
}

.cartSection__Btns {
  display: -ms-grid;
  display: grid;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  padding: 5rem;
  padding-top: 0rem;
  text-align: center;
  z-index: 99;
}

.cartSection__leftBtn, .cartSection__rightBtn {
  padding: 2rem 6rem;
  /* 2rem 6rem */
  font-size: 2rem;
  /* 2rem*/
  border-radius: 2px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.cartSection__leftBtn {
  background-color: #ffc72c;
  color: #000;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cartSection__rightBtn {
  background-color: #000000;
  color: #fff;
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cartSection__Img {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 25%;
}

.cartSection__Heading {
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cartSection__Ingridients {
  font-size: 2rem;
  color: #8a959e;
  width: 70%;
  margin: 0 auto;
}

.cartSection__Price {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 5%;
}

.basket {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 6.9%;
  right: 0;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white;
  z-index: 99999;
}

.basket__closeIcon {
  color: black;
  font-size: 300%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
}

.basket__closeIcon::after {
  content: "close";
  font-size: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__itemList,
.checkout__itemList {
  padding: 3rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75rem;
  /* 67% */
}

.basket__itemList--itemCard,
.checkout__itemList--itemCard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 2rem;
}

.basket__itemList--itemCard.checkout,
.checkout__itemList--itemCard.checkout {
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__itemList--divv,
.checkout__itemList--divv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.basket__itemList--divv.checkout,
.checkout__itemList--divv.checkout {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__itemList--itemImg,
.checkout__itemList--itemImg {
  width: 50%;
}

.basket__itemList--itemImg.checkout,
.checkout__itemList--itemImg.checkout {
  width: 80%;
}

.basket__itemList--itemHeading,
.checkout__itemList--itemHeading {
  font-size: 1.5rem;
  /* 1.2 */
  margin-top: 2%;
}

.basket__itemList--itemParag,
.checkout__itemList--itemParag {
  width: 150%;
  margin-top: 4%;
}

.basket__itemList--itemPrice,
.checkout__itemList--itemPrice {
  display: inline-block;
  font-size: 2rem;
  /* 1.5 */
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 30%;
}

.basket__itemList--counterDiv,
.checkout__itemList--counterDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 150%;
  color: #ff5722;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.basket__itemList--counterDiv *,
.checkout__itemList--counterDiv * {
  margin-right: 8%;
  font-weight: 700;
  font-size: 1.7rem;
}

.basket__itemList--counterPlusBtn, .basket__itemList--counterMinusBtn,
.checkout__itemList--counterPlusBtn,
.checkout__itemList--counterMinusBtn {
  background-color: #fff4e4;
  padding: 4%;
  border-radius: 50%;
}

.basket__itemList--counterPlusBtn,
.checkout__itemList--counterPlusBtn {
  margin-right: 0%;
}

.basket__itemList__checkoutDiv,
.checkout__itemList__checkoutDiv {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.basket__itemList--totalHeading,
.checkout__itemList--totalHeading {
  font-weight: 600;
  font-size: 2rem;
  color: #8a959e;
}

.basket__itemList--totalPrice,
.checkout__itemList--totalPrice {
  font-weight: 700;
  font-size: 4.5rem;
  color: #202326;
  padding-bottom: 2rem;
}

.basket__itemList--checkout,
.checkout__itemList--checkout {
  background-color: #cbcfd3;
  padding: 1.8rem 12rem;
  font-size: 2.5rem;
  color: #202326;
  border-radius: 2px;
  border: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 37rem;
  margin: 0px auto;
}

.basket__itemList--removeItemIcon,
.checkout__itemList--removeItemIcon {
  font-size: 1.8rem;
  background-color: yellow;
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  border: 1px solid #000;
  line-height: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.basket__itemList.checkout {
  max-height: 65rem;
}

.checkout__itemList {
  max-height: 67rem;
}

.customizeSection {
  background-color: white;
  -webkit-clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
          clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0rem;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* 100 */
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.customizeSection__closeIcon {
  color: #fff;
  font-size: 10rem;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-300%) translate(-50%, -50%);
          transform: translateY(-300%) translate(-50%, -50%);
  z-index: 9999;
}

.customizeSection__basketHeading, .customizeSection__basketParag {
  font-size: 1rem;
  font-weight: 600;
  color: #8a959e;
  text-align: left;
}

.customizeSection__basketParag {
  font-weight: 400;
}

.IngridientsDiv,
.ExtraProteinDiv,
.ExtraSaladDiv,
.ExtraSauceDiv,
.ExtraDealDiv,
.DrinkDiv {
  font-size: 3rem;
  margin-top: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 6rem;
  position: relative;
  padding-bottom: 1.5rem;
}

.IngridientsDiv__IngridientsList, .IngridientsDiv__ExtraProteinList, .IngridientsDiv__ExtraSaladList, .IngridientsDiv__ExtraSauceList, .IngridientsDiv__ExtraDealList, .IngridientsDiv__DrinkList,
.ExtraProteinDiv__IngridientsList,
.ExtraProteinDiv__ExtraProteinList,
.ExtraProteinDiv__ExtraSaladList,
.ExtraProteinDiv__ExtraSauceList,
.ExtraProteinDiv__ExtraDealList,
.ExtraProteinDiv__DrinkList,
.ExtraSaladDiv__IngridientsList,
.ExtraSaladDiv__ExtraProteinList,
.ExtraSaladDiv__ExtraSaladList,
.ExtraSaladDiv__ExtraSauceList,
.ExtraSaladDiv__ExtraDealList,
.ExtraSaladDiv__DrinkList,
.ExtraSauceDiv__IngridientsList,
.ExtraSauceDiv__ExtraProteinList,
.ExtraSauceDiv__ExtraSaladList,
.ExtraSauceDiv__ExtraSauceList,
.ExtraSauceDiv__ExtraDealList,
.ExtraSauceDiv__DrinkList,
.ExtraDealDiv__IngridientsList,
.ExtraDealDiv__ExtraProteinList,
.ExtraDealDiv__ExtraSaladList,
.ExtraDealDiv__ExtraSauceList,
.ExtraDealDiv__ExtraDealList,
.ExtraDealDiv__DrinkList,
.DrinkDiv__IngridientsList,
.DrinkDiv__ExtraProteinList,
.DrinkDiv__ExtraSaladList,
.DrinkDiv__ExtraSauceList,
.DrinkDiv__ExtraDealList,
.DrinkDiv__DrinkList {
  list-style: none;
  margin: 0 auto;
  margin-top: 3rem;
  width: 95%;
}

.IngridientsDiv__DrinkList,
.ExtraProteinDiv__DrinkList,
.ExtraSaladDiv__DrinkList,
.ExtraSauceDiv__DrinkList,
.ExtraDealDiv__DrinkList,
.DrinkDiv__DrinkList {
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.IngridientsDiv__IngridientsListItem, .IngridientsDiv__ExtraProteinListItem, .IngridientsDiv__ExtraSaladListItem, .IngridientsDiv__ExtraSauceListItem, .IngridientsDiv__ExtraDealListItem,
.ExtraProteinDiv__IngridientsListItem,
.ExtraProteinDiv__ExtraProteinListItem,
.ExtraProteinDiv__ExtraSaladListItem,
.ExtraProteinDiv__ExtraSauceListItem,
.ExtraProteinDiv__ExtraDealListItem,
.ExtraSaladDiv__IngridientsListItem,
.ExtraSaladDiv__ExtraProteinListItem,
.ExtraSaladDiv__ExtraSaladListItem,
.ExtraSaladDiv__ExtraSauceListItem,
.ExtraSaladDiv__ExtraDealListItem,
.ExtraSauceDiv__IngridientsListItem,
.ExtraSauceDiv__ExtraProteinListItem,
.ExtraSauceDiv__ExtraSaladListItem,
.ExtraSauceDiv__ExtraSauceListItem,
.ExtraSauceDiv__ExtraDealListItem,
.ExtraDealDiv__IngridientsListItem,
.ExtraDealDiv__ExtraProteinListItem,
.ExtraDealDiv__ExtraSaladListItem,
.ExtraDealDiv__ExtraSauceListItem,
.ExtraDealDiv__ExtraDealListItem,
.DrinkDiv__IngridientsListItem,
.DrinkDiv__ExtraProteinListItem,
.DrinkDiv__ExtraSaladListItem,
.DrinkDiv__ExtraSauceListItem,
.DrinkDiv__ExtraDealListItem {
  font-size: 1.8rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 6.72603px 67.2603px rgba(32, 35, 38, 0.15);
          box-shadow: 0px 6.72603px 67.2603px rgba(32, 35, 38, 0.15);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.IngridientsDiv__ExtraProteinListItem:last-child, .IngridientsDiv__ExtraSaladListItem:last-child, .IngridientsDiv__ExtraSauceListItem:last-child,
.ExtraProteinDiv__ExtraProteinListItem:last-child,
.ExtraProteinDiv__ExtraSaladListItem:last-child,
.ExtraProteinDiv__ExtraSauceListItem:last-child,
.ExtraSaladDiv__ExtraProteinListItem:last-child,
.ExtraSaladDiv__ExtraSaladListItem:last-child,
.ExtraSaladDiv__ExtraSauceListItem:last-child,
.ExtraSauceDiv__ExtraProteinListItem:last-child,
.ExtraSauceDiv__ExtraSaladListItem:last-child,
.ExtraSauceDiv__ExtraSauceListItem:last-child,
.ExtraDealDiv__ExtraProteinListItem:last-child,
.ExtraDealDiv__ExtraSaladListItem:last-child,
.ExtraDealDiv__ExtraSauceListItem:last-child,
.DrinkDiv__ExtraProteinListItem:last-child,
.DrinkDiv__ExtraSaladListItem:last-child,
.DrinkDiv__ExtraSauceListItem:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
}

.IngridientsDiv__DrinkListItem,
.ExtraProteinDiv__DrinkListItem,
.ExtraSaladDiv__DrinkListItem,
.ExtraSauceDiv__DrinkListItem,
.ExtraDealDiv__DrinkListItem,
.DrinkDiv__DrinkListItem {
  font-size: 2rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.5rem;
  padding-bottom: 0rem;
}

.IngridientsDiv__IngridientsListItem--btn, .IngridientsDiv__DrinkListItem--btn,
.ExtraProteinDiv__IngridientsListItem--btn,
.ExtraProteinDiv__DrinkListItem--btn,
.ExtraSaladDiv__IngridientsListItem--btn,
.ExtraSaladDiv__DrinkListItem--btn,
.ExtraSauceDiv__IngridientsListItem--btn,
.ExtraSauceDiv__DrinkListItem--btn,
.ExtraDealDiv__IngridientsListItem--btn,
.ExtraDealDiv__DrinkListItem--btn,
.DrinkDiv__IngridientsListItem--btn,
.DrinkDiv__DrinkListItem--btn {
  background-image: url(../images/Button.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1px solid #ccc;
  display: inline-block;
  margin-right: 2rem;
}

.IngridientsDiv__DrinkListItem--btn,
.ExtraProteinDiv__DrinkListItem--btn,
.ExtraSaladDiv__DrinkListItem--btn,
.ExtraSauceDiv__DrinkListItem--btn,
.ExtraDealDiv__DrinkListItem--btn,
.DrinkDiv__DrinkListItem--btn {
  background-image: url(../images/emptyBtn.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1px solid #ccc;
  display: inline-block;
  margin-right: 2rem;
}

.IngridientsDiv__IngridientsListItem--btn.empty,
.ExtraProteinDiv__IngridientsListItem--btn.empty,
.ExtraSaladDiv__IngridientsListItem--btn.empty,
.ExtraSauceDiv__IngridientsListItem--btn.empty,
.ExtraDealDiv__IngridientsListItem--btn.empty,
.DrinkDiv__IngridientsListItem--btn.empty {
  background-image: url(../images/emptyBtn.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1px solid #ccc;
  display: inline-block;
  margin-right: 2rem;
}

.IngridientsDiv__DrinkListItem--btn.activeDrink,
.ExtraProteinDiv__DrinkListItem--btn.activeDrink,
.ExtraSaladDiv__DrinkListItem--btn.activeDrink,
.ExtraSauceDiv__DrinkListItem--btn.activeDrink,
.ExtraDealDiv__DrinkListItem--btn.activeDrink,
.DrinkDiv__DrinkListItem--btn.activeDrink {
  background-image: url(../images/Button.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1px solid #ccc;
  display: inline-block;
  margin-right: 2rem;
}

.IngridientsDiv__CountBtns,
.ExtraProteinDiv__CountBtns,
.ExtraSaladDiv__CountBtns,
.ExtraSauceDiv__CountBtns,
.ExtraDealDiv__CountBtns,
.DrinkDiv__CountBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff5722;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 3rem;
}

.IngridientsDiv__CountBtns *,
.ExtraProteinDiv__CountBtns *,
.ExtraSaladDiv__CountBtns *,
.ExtraSauceDiv__CountBtns *,
.ExtraDealDiv__CountBtns *,
.DrinkDiv__CountBtns * {
  margin-right: 1.3rem;
  font-weight: 700;
  font-size: 1.7rem;
}

.IngridientsDiv__CountBtns--minus,
.ExtraProteinDiv__CountBtns--minus,
.ExtraSaladDiv__CountBtns--minus,
.ExtraSauceDiv__CountBtns--minus,
.ExtraDealDiv__CountBtns--minus,
.DrinkDiv__CountBtns--minus {
  background-color: #fff4e4;
  padding: 10%;
  border-radius: 50%;
}

.IngridientsDiv__CountBtns--plus,
.ExtraProteinDiv__CountBtns--plus,
.ExtraSaladDiv__CountBtns--plus,
.ExtraSauceDiv__CountBtns--plus,
.ExtraDealDiv__CountBtns--plus,
.DrinkDiv__CountBtns--plus {
  background-color: #fff4e4;
  padding: 10%;
  border-radius: 50%;
}

.IngridientsDiv__Text,
.ExtraProteinDiv__Text,
.ExtraSaladDiv__Text,
.ExtraSauceDiv__Text,
.ExtraDealDiv__Text,
.DrinkDiv__Text {
  margin-right: auto;
}

.IngridientsDiv__Price,
.ExtraProteinDiv__Price,
.ExtraSaladDiv__Price,
.ExtraSauceDiv__Price,
.ExtraDealDiv__Price,
.DrinkDiv__Price {
  color: #8a959e;
  font-size: 1.8rem;
}

.IngridientsDiv__DrinkHeading,
.ExtraProteinDiv__DrinkHeading,
.ExtraSaladDiv__DrinkHeading,
.ExtraSauceDiv__DrinkHeading,
.ExtraDealDiv__DrinkHeading,
.DrinkDiv__DrinkHeading {
  font-size: 2rem;
  color: #202326;
  font-weight: 600;
  text-align: left;
  padding-top: 2rem;
  /* 2 */
}

.IngridientsDiv__DrinkParag,
.ExtraProteinDiv__DrinkParag,
.ExtraSaladDiv__DrinkParag,
.ExtraSauceDiv__DrinkParag,
.ExtraDealDiv__DrinkParag,
.DrinkDiv__DrinkParag {
  font-size: 1.2rem;
  color: #8a959e;
  font-weight: 400;
  text-align: left;
}

.IngridientsDiv__DrinkHeading, .IngridientsDiv__DrinkParag,
.ExtraProteinDiv__DrinkHeading,
.ExtraProteinDiv__DrinkParag,
.ExtraSaladDiv__DrinkHeading,
.ExtraSaladDiv__DrinkParag,
.ExtraSauceDiv__DrinkHeading,
.ExtraSauceDiv__DrinkParag,
.ExtraDealDiv__DrinkHeading,
.ExtraDealDiv__DrinkParag,
.DrinkDiv__DrinkHeading,
.DrinkDiv__DrinkParag {
  padding-left: 3rem;
}

.IngridientsDiv,
.ExtraProteinDiv,
.ExtraSaladDiv,
.ExtraSauceDiv {
  overflow-y: scroll;
  max-height: 49rem;
  position: relative;
}

.ExtraProteinDiv,
.ExtraSaladDiv {
  padding-bottom: 4.5rem;
}

.ExtraSauceDiv {
  padding-bottom: 3rem;
}

.MainItemDiv__BtnsDiv::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 9rem;
  height: 10.5rem;
  left: 1.5rem;
  width: 94.5%;
  margin: 0 auto;
  z-index: 0;
  background: linear-gradient(178.7deg, white 77%, rgba(255, 255, 255, 0) 98.89%);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.MainItemDiv__BtnsDiv.effectOff::before {
  display: none;
}

.DrinkDiv {
  background-color: #fff;
  -webkit-box-shadow: 0px 6.72603px 67.2603px rgba(32, 35, 38, 0.15);
          box-shadow: 0px 6.72603px 67.2603px rgba(32, 35, 38, 0.15);
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5rem;
  z-index: 999;
}

.MainItemDiv {
  margin-top: 10rem;
}

.MainItemDiv__ItemParag {
  color: #8a959e;
  width: 100%;
  font-size: 1.2rem;
  /* 0.8rem */
  text-align: center;
}

.MainItemDiv__ItemPrice {
  font-weight: bold;
  font-size: 2rem;
}

.MainItemDiv__RemoveHeading {
  font-weight: 600;
  font-size: 2rem;
  color: #ff5722;
}

.MainItemDiv__RemoveParag {
  color: #8a959e;
  font-size: 1.2rem;
}

.MainItemDiv__BtnsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

.MainItemDiv__BackBtn, .MainItemDiv__NextBtn {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 600;
  padding: 1.5rem 3rem;
  outline: none;
  color: #202326;
  background-color: #cbcfd3;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  /* 1.5rem */
  z-index: 999;
}

.MainItemDiv__AddBasketBtn {
  width: 28rem;
  font-size: 2.2rem;
  outline: none;
  text-align: center;
  font-weight: 500;
  z-index: 999;
  padding: 2rem 5rem;
  outline: none;
  color: #fffff0;
  background-color: #202326;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  /* 35px */
}

.verticalCardDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  width: 75%;
  padding-left: 2rem;
  margin-top: -0.4rem;
}

.verticalitemImg {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.successPayment {
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 999;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  width: 50rem;
  padding: 7rem 8rem;
  margin: 0 auto;
  -webkit-box-shadow: 0px 6.64253px 66.4253px rgba(32, 35, 38, 0.15);
          box-shadow: 0px 6.64253px 66.4253px rgba(32, 35, 38, 0.15);
  border-radius: 29.8914px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.successPayment__img {
  margin-bottom: 3rem;
}

.successPayment__heading-1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.successPayment__heading-2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.errorPayment {
  position: absolute;
  z-index: 999;
  bottom: -60%;
  left: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  width: 50rem;
  padding: 7rem 8rem;
  margin: 0 auto;
  -webkit-box-shadow: 0px 6.64253px 66.4253px rgba(32, 35, 38, 0.15);
          box-shadow: 0px 6.64253px 66.4253px rgba(32, 35, 38, 0.15);
  border-radius: 29.8914px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.errorPayment__img {
  margin-bottom: 3rem;
}

.errorPayment__heading-1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.errorPayment__tryAgainBtn, .errorPayment__cancelOrderBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  outline: none;
  border: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 2rem;
  text-decoration: none;
}

.errorPayment__cancelOrderBtn {
  background-color: #cbcfd3;
  color: #202326;
}

.checkoutCloseBtnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.checkoutCloseBtnDiv__closeIcon {
  font-size: 2.5rem;
}

.checkoutCloseBtnDiv__closeHeading {
  font-size: 1.2rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

.preload {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000 url("../images/preload.gif") no-repeat center center;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */