@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../images/download1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/download1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__logo {
  margin-top: 15%;
  margin-bottom: 45%;
}

.wrapper__Btns {
  display: -ms-grid;
  display: grid;
  margin-top: 5%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  text-align: center;
}

.wrapper__leftBtn, .wrapper__rightBtn {
  color: #ffc72c;
  background-color: #000000;
  padding: 2rem 6rem;
  font-size: 2rem;
  border: 4px solid #ffc72c;
  border-radius: 42.5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.menu__header {
  background-color: white;
  min-height: 7vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3rem;
  -webkit-box-shadow: 0px 6px 31px rgba(8, 37, 85, 0.122);
          box-shadow: 0px 6px 31px rgba(8, 37, 85, 0.122);
}

.menu__heading {
  font-size: 250%;
  /* 3rem */
  font-weight: 600;
}

.menu__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__cart--icon {
  font-size: 200%;
  /* 2rem */
  border: 4px solid black;
  padding: 0.8rem 0.7rem;
  border-radius: 10px;
}

.menu__cart--itemCount {
  font-size: 100%;
  /* 1.2rem */
  line-height: 0.5rem;
  padding: 18%;
  /* 0.8rem */
  background: #ffc72c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  border: 3px solid white;
  top: -20%;
  right: -35%;
  font-weight: bold;
}

.menu__logo {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  width: 15%;
}

.shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  grid-gap: 3%;
}

.shop__menu {
  grid-column: 0 / 1;
}

.shop__products {
  grid-column: 2 / -1;
}

.shop__productSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 78vh;
  padding: 1rem;
  margin-top: 1rem;
  padding-top: 0rem;
}

.shop__menuList {
  list-style: none;
}

.shop__menuListItem {
  font-size: 150%;
  /* 28px */
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1.8rem;
  position: relative;
  font-weight: normal;
  line-height: 5rem;
}

.shop__menuListItem.active {
  background-color: #ffc72c;
  font-weight: 600;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
}

.shop__menuListItem::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 60%;
  width: 0.5rem;
  background-color: #ffc72c;
  top: 1.2rem;
  left: 0;
}

.shop__productSection--card {
  padding: 1rem;
  padding-top: 0;
}

.shop__productSection--image {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  /*width: 284px; */
  height: auto;
  /* height: 147px; */
}

.shop__productSection--cardHeading {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 90%;
  /* 1.1rem */
}

.shop__productSection--cardParag {
  color: #8a959e;
  font-size: 60%;
  /* 0.8rem */
  text-align: center;
}

.shop__productSection--cardPrice {
  text-align: center;
  font-weight: bold;
  font-size: 100%;
  /* 1.5rem */
}

.cartSection {
  background-color: #fff;
  -webkit-clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
          clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0rem;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* 100 */
  text-align: center;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.cartSection__closeIcon {
  color: #fff;
  font-size: 10rem;
  position: absolute;
  -webkit-transition: all 2s;
  transition: all 2s;
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-300%) translate(-50%, -50%);
          transform: translateY(-300%) translate(-50%, -50%);
  z-index: 9999;
}

.cartSection__Btns {
  display: -ms-grid;
  display: grid;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  padding: 5rem;
  padding-top: 0rem;
  text-align: center;
  z-index: 99;
}

.cartSection__leftBtn, .cartSection__rightBtn {
  padding: 2rem 6rem;
  /* 2rem 6rem */
  font-size: 2rem;
  /* 2rem*/
  border-radius: 42.5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.cartSection__leftBtn {
  background-color: #ffc72c;
  color: #000;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.cartSection__rightBtn {
  background-color: #000000;
  color: #fff;
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.cartSection__Img {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 25%;
}

.cartSection__Heading {
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cartSection__Ingridients {
  font-size: 2rem;
  color: #8a959e;
  width: 70%;
  margin: 0 auto;
}

.cartSection__Price {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 5%;
}

.basket {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 7%;
  right: 0;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 2s;
  transition: all 2s;
  background-color: white;
}

.basket__closeIcon {
  color: black;
  font-size: 300%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
}

.basket__closeIcon::after {
  content: "close";
  font-size: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket__itemList {
  padding: 5%;
  padding-right: 2%;
  width: 100%;
  position: relative;
}

.basket__itemList--itemCard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-top: 10%;
}

.basket__itemList--itemCard:first-child {
  margin-top: 0% !important;
}

.basket__itemList--divv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.basket__itemList--itemImg {
  width: 50%;
}

.basket__itemList--itemHeading {
  font-size: 1.5rem;
  margin-top: 2%;
}

.basket__itemList--itemParag {
  width: 150%;
  margin-top: 4%;
}

.basket__itemList--itemPrice {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 30%;
}

.basket__itemList--counterDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 150%;
  color: #ff5722;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.basket__itemList--counterDiv * {
  margin-right: 8%;
  font-weight: 700;
  font-size: 1.7rem;
}

.basket__itemList--counterPlusBtn, .basket__itemList--counterMinusBtn {
  background-color: #fff4e4;
  padding: 4%;
  border-radius: 50%;
}

.basket__itemList--counterPlusBtn {
  margin-right: 0%;
}

.basket__itemList__checkoutDiv {
  position: absolute;
  bottom: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.basket__itemList--totalHeading {
  font-weight: 600;
  font-size: 2rem;
  color: #8a959e;
}

.basket__itemList--totalPrice {
  font-weight: 700;
  font-size: 4.5rem;
  color: #202326;
  padding-bottom: 2rem;
}

.basket__itemList--checkout {
  background-color: #cbcfd3;
  padding: 1.8rem 12rem;
  font-size: 2.5rem;
  color: #202326;
  border-radius: 42.5px;
  border: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.customizeSection {
  background-color: red;
  -webkit-clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
          clip-path: polygon(50% 10%, 69% 0, 100% 0, 100% 78%, 100% 100%, 0 100%, 0 78%, 0 0, 32% 0);
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0rem;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  /* 100 */
  text-align: center;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.customizeSection__closeIcon {
  color: blue;
  font-size: 10rem;
  position: absolute;
  -webkit-transition: all 2s;
  transition: all 2s;
  top: 20%;
  left: 50%;
  -webkit-transform: translateY(-300%) translate(-50%, -50%);
          transform: translateY(-300%) translate(-50%, -50%);
  z-index: 9999;
}

@media (max-width: 785px) {
  .shop__menuListItem {
    font-size: 90%;
    /* 28px */
    line-height: 3rem;
  }
  .shop__menuListItem::before {
    height: 60%;
    top: 0.8rem;
    left: 0%;
  }
  .menu__heading {
    font-size: 120%;
    /* 3rem */
    font-weight: 600;
  }
  .menu__cart--icon {
    font-size: 100%;
    /* 2rem */
    border: 4px solid black;
    padding: 0.8rem 0.7rem;
    /* padding: 0.8rem 0.7rem; */
    border-radius: 10px;
  }
  .menu__cart--itemCount {
    font-size: 70%;
    /* 1.2rem */
    line-height: 0.5rem;
    padding: 15%;
    /* 0.8rem */
  }
}
/*# sourceMappingURL=style.css.map */