* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;

  position: relative;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  &__header {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    box-shadow: 0px 6px 31px rgba(8, 37, 85, 0.122);
  }

  &__heading {
    font-size: 250%; /* 3rem */
    font-weight: 600;
  }

  &__cart {
    display: flex;
    position: relative;
  }

  &__cart--icon {
    font-size: 200%; /* 2rem */
    border: 4px solid black;
    padding: 0.8rem 0.7rem;
    //border-radius: 10px;
  }
  &__cart--itemCount {
    font-size: 100%; /* 1.2rem */
    line-height: 0.5rem;
    padding: 18%; /* 0.8rem */
    background: #ffc72c;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    border: 3px solid white;
    top: -20%;
    right: -35%;
    font-weight: bold;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 20%;
  }
}

.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 2rem;
  grid-gap: 3%;

  //margin-bottom: 2rem;
  &__menu {
    grid-column: 0 / 1;
    margin-top: 1rem;
  }
  &__products {
    grid-column: 2 / -1;
  }
  &__productSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 92rem;
    padding: 1rem;
    grid-gap: 0rem;
    margin-top: 1rem;
    padding-top: 0rem;
  }
  &__menuList {
    list-style: none;
  }
  &__menuListItem {
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    padding-left: 1.8rem;
    position: relative;
    font-weight: normal;
    line-height: 4rem;
  }

  &__menuListItem.active {
    background-color: #ffc72c;
    width: 100%;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  &__menuListItem::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 3%;
    background-color: #ffc72c;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }

  &__menuListItem:hover:before {
    width: 100%;
  }

  &__productSection--card {
    pointer-events: none;
    padding: 1rem;
    height: 90%;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; //4 numara
    background-color: #fff;
    //border: 1px solid #c3c3c3;
    transition: all 0.5s;
  }
  &__productSection--card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; //1 numara
  }
  &__productSection--image {
    pointer-events: all;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%; /*width: 284px; */
    height: auto; /* height: 147px; */
  }
  &__productSection--cardHeading {
    pointer-events: all;
    cursor: pointer;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    padding-top: 1rem;
    font-size: 1.1rem; /* 1.1rem  100%*/
  }
  &__productSection--cardParag {
    pointer-events: all;
    cursor: pointer;
    min-height: 5rem;
    color: #8a959e;
    font-size: 0.8rem; /* 0.8rem  60%*/
    text-align: center;
    padding-top: 0.5rem;
  }
  &__productSection--cardPrice {
    padding-top: 0.5rem;
    pointer-events: all;
    cursor: pointer;
    text-align: center;
    min-height: 2rem;
    font-weight: bold;
    font-size: 1.5rem; /* 1.5rem 150%*/
  }
  &__listText {
    position: relative;
    pointer-events: none;
  }
}
.shop.checkout {
  grid-template-columns: 1fr;
}

.cartSection {
  background-color: #fff;
  clip-path: polygon(
    50% 10%,
    69% 0,
    100% 0,
    100% 78%,
    100% 100%,
    0 100%,
    0 78%,
    0 0,
    32% 0
  );
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0rem;
  left: 0;
  transform: translateY(100%); /* 100 */
  text-align: center;
  transition: all 0.5s;
  &__closeIcon {
    color: #fff;
    font-size: 10rem;
    position: absolute;
    transition: all 0.5s;
    top: 20%;
    left: 50%;
    transform: translateY(-300%) translate(-50%, -50%);
    z-index: 9999;
  }
  &__Btns {
    display: grid;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 5rem;
    padding-top: 0rem;
    text-align: center;
    z-index: 99;
  }
  &__leftBtn,
  &__rightBtn {
    padding: 2rem 6rem; /* 2rem 6rem */
    font-size: 2rem; /* 2rem*/
    border-radius: 2px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  &__leftBtn {
    background-color: #ffc72c;
    color: #000;
    transform: translateX(-300%);
    transition: all 0.5s;
  }
  &__rightBtn {
    background-color: #000000;
    color: #fff;
    transform: translateX(300%);
    transition: all 0.5s;
  }
  &__Img {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 25%;
  }

  &__Heading {
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  &__Ingridients {
    font-size: 2rem;
    color: #8a959e;
    width: 70%;
    margin: 0 auto;
  }
  &__Price {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 5%;
  }
}
.basket {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 6.9%;
  right: 0;
  transform: translateX(150%);
  transition: all 0.5s;
  background-color: white;
  z-index: 99999;
  &__closeIcon {
    color: black;
    font-size: 300%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
  }
  &__closeIcon::after {
    content: "close";
    font-size: 30%;
    display: flex;
    flex-direction: column;
  }
}

.basket__itemList,
.checkout__itemList {
  padding: 3rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75rem; /* 67% */
  &--itemCard {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 2rem;
  }

  &--itemCard.checkout {
    background-color: #fff;
    //box-shadow: 0px 6.64253px 66.4253px rgba(32, 35, 38, 0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; //4numara
    padding: 1.5rem;
    align-items: center;
  }

  &--divv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  &--divv.checkout {
    flex-direction: row;
    align-items: center;
  }
  &--itemImg {
    width: 50%;
  }
  &--itemImg.checkout {
    width: 80%;
  }
  &--itemHeading {
    font-size: 1.5rem; /* 1.2 */
    margin-top: 2%;
  }

  &--itemParag {
    width: 150%;
    margin-top: 4%;
  }
  &--itemPrice {
    display: inline-block;
    font-size: 2rem; /* 1.5 */
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 30%;
  }

  &--counterDiv {
    display: flex;
    font-size: 150%;
    color: #ff5722;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }

  &--counterDiv * {
    margin-right: 8%;
    font-weight: 700;
    font-size: 1.7rem;
  }

  &--counterPlusBtn,
  &--counterMinusBtn {
    background-color: #fff4e4;
    padding: 4%;
    border-radius: 50%;
  }

  &--counterPlusBtn {
    margin-right: 0%;
  }

  &__checkoutDiv {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &--totalHeading {
    font-weight: 600;
    font-size: 2rem;
    color: #8a959e;
  }
  &--totalPrice {
    font-weight: 700;
    font-size: 4.5rem;
    color: #202326;
    padding-bottom: 2rem;
  }
  &--checkout {
    background-color: #cbcfd3;
    padding: 1.8rem 12rem;
    font-size: 2.5rem;
    color: #202326;
    border-radius: 2px;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 37rem;
    margin: 0px auto;
  }
  &--removeItemIcon {
    font-size: 1.5rem;
    background-color: #ffc72c;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    line-height: 0.7;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.basket__itemList.checkout {
  max-height: 65rem;
  //padding-top: 0.5rem;
}

.checkout__itemList {
  max-height: 67rem;
}
.customizeSection {
  background-color: white;
  clip-path: polygon(
    50% 10%,
    69% 0,
    100% 0,
    100% 78%,
    100% 100%,
    0 100%,
    0 78%,
    0 0,
    32% 0
  );
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0rem;
  left: 0;
  transform: translateY(100%); /* 100 */
  text-align: center;
  transition: all 0.5s;
  &__closeIcon {
    color: #fff;
    font-size: 10rem;
    position: absolute;
    transition: all 0.5s;
    top: 20%;
    left: 50%;
    transform: translateY(-300%) translate(-50%, -50%);
    z-index: 9999;
  }
  &__basketHeading,
  &__basketParag {
    font-size: 1rem;
    font-weight: 600;
    color: #8a959e;
    text-align: left;
  }
  &__basketParag {
    font-weight: 400;
  }
}

.IngridientsDiv,
.ExtraProteinDiv,
.ExtraSaladDiv,
.ExtraSauceDiv,
.ExtraDealDiv,
.DrinkDiv {
  font-size: 3rem;
  margin-top: 1rem;
  transition: all 0.5s;
  margin-bottom: 6rem;
  position: relative;
  padding-bottom: 1.5rem;
  &__IngridientsList,
  &__ExtraProteinList,
  &__ExtraSaladList,
  &__ExtraSauceList,
  &__ExtraDealList,
  &__DrinkList {
    list-style: none;
    margin: 0 auto;
    margin-top: 3rem;
    width: 95%;
  }

  &__DrinkList {
    margin-top: 2rem;
    padding-bottom: 4rem;
  }

  &__IngridientsListItem,
  &__ExtraProteinListItem,
  &__ExtraSaladListItem,
  &__ExtraSauceListItem,
  &__ExtraDealListItem {
    font-size: 1.8rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 6.72603px 67.2603px rgba(32, 35, 38, 0.15);
    //border-radius: 30.2671px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__ExtraProteinListItem:last-child,
  &__ExtraSaladListItem:last-child,
  &__ExtraSauceListItem:last-child {
    box-shadow: none;
    background: #fff;
  }
  &__DrinkListItem {
    font-size: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    padding-bottom: 0rem;
  }

  &__IngridientsListItem--btn,
  &__DrinkListItem--btn {
    background-image: url(../images/Button.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.1px solid #ccc;
    display: inline-block;
    margin-right: 2rem;
  }
  &__DrinkListItem--btn {
    background-image: url(../images/emptyBtn.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.1px solid #ccc;
    display: inline-block;
    margin-right: 2rem;
  }
  &__IngridientsListItem--btn.empty {
    background-image: url(../images/emptyBtn.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.1px solid #ccc;
    display: inline-block;
    margin-right: 2rem;
  }
  &__DrinkListItem--btn.activeDrink {
    background-image: url(../images/Button.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.1px solid #ccc;
    display: inline-block;
    margin-right: 2rem;
  }
  &__CountBtns {
    display: flex;
    color: #ff5722;
    align-items: center;
    justify-content: flex-start;
    margin-right: 3rem;
  }
  &__CountBtns * {
    margin-right: 1.3rem;
    font-weight: 700;
    font-size: 1.7rem;
  }
  &__CountBtns--minus {
    background-color: #fff4e4;
    padding: 10%;
    border-radius: 50%;
  }
  &__CountBtns--plus {
    background-color: #fff4e4;
    padding: 10%;
    border-radius: 50%;
  }
  &__Text {
    margin-right: auto;
  }
  &__Price {
    color: #8a959e;
    font-size: 1.8rem;
  }
  &__DrinkHeading {
    font-size: 2rem;
    color: #202326;
    font-weight: 600;
    text-align: left;
    padding-top: 2rem; /* 2 */
  }
  &__DrinkParag {
    font-size: 1.2rem;
    color: #8a959e;
    font-weight: 400;
    text-align: left;
  }
  &__DrinkHeading,
  &__DrinkParag {
    padding-left: 3rem;
  }
}

.IngridientsDiv,
.ExtraProteinDiv,
.ExtraSaladDiv,
.ExtraSauceDiv {
  overflow-y: scroll;
  max-height: 49rem;
  position: relative;
}
.ExtraProteinDiv,
.ExtraSaladDiv {
  padding-bottom: 4.5rem;
}
.ExtraSauceDiv {
  padding-bottom: 3rem;
}

.MainItemDiv__BtnsDiv::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 9rem;
  height: 10.5rem;
  left: 1.5rem;
  width: 94.5%;
  margin: 0 auto;
  z-index: 0;
  background: linear-gradient(
    178.7deg,
    white 77%,
    rgba(255, 255, 255, 0) 98.89%
  );
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.MainItemDiv__BtnsDiv.effectOff::before {
  display: none;
}

.DrinkDiv {
  background-color: #fff;
  box-shadow: 0px 6.72603px 67.2603px rgba(32, 35, 38, 0.15);
  //border-radius: 30.2671px;
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5rem;
  z-index: 999;
}

.MainItemDiv {
  margin-top: 10rem;
  &__ItemParag {
    color: #8a959e;
    width: 100%;
    font-size: 1.2rem; /* 0.8rem */
    text-align: center;
  }
  &__ItemPrice {
    font-weight: bold;
    font-size: 2rem;
  }
  &__RemoveHeading {
    font-weight: 600;
    font-size: 2rem;
    color: #ff5722;
  }
  &__RemoveParag {
    color: #8a959e;
    font-size: 1.2rem;
  }
  &__BtnsDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-bottom: 2rem;
  }
  &__BackBtn,
  &__NextBtn {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 600;
    padding: 1.5rem 3rem;
    outline: none;
    color: #202326;
    background-color: #cbcfd3;
    border: 2px solid #e5e5e5;
    border-radius: 2px; /* 1.5rem */
    z-index: 999;
  }
  &__AddBasketBtn {
    width: 28rem;
    font-size: 2.2rem;
    outline: none;
    text-align: center;
    font-weight: 500;
    z-index: 999;
    padding: 2rem 5rem;
    outline: none;
    color: #fffff0;
    background-color: #202326;
    border: 2px solid #e5e5e5;
    border-radius: 2px; /* 35px */
  }
}
.verticalCardDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  width: 75%;
  padding-left: 2rem;
  margin-top: -0.4rem;
}
.verticalitemImg {
  margin-top: 0;
  display: flex;
  align-self: flex-start;
}

.successPayment {
  position: absolute;
  bottom: -50%;
  left: 50%;
  z-index: 999;
  transform: scale(0) translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  width: 50rem;
  padding: 7rem 8rem;
  margin: 0 auto;
  box-shadow: 0px 6.64253px 66.4253px rgba(32, 35, 38, 0.15);
  border-radius: 29.8914px;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  &__img {
    margin-bottom: 3rem;
  }
  &__heading-1 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  &__heading-2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.errorPayment {
  position: absolute;
  z-index: 999;
  bottom: -60%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  width: 50rem;
  padding: 7rem 8rem;
  margin: 0 auto;
  box-shadow: 0px 6.64253px 66.4253px rgba(32, 35, 38, 0.15);
  border-radius: 29.8914px;
  transition: all 0.5s;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

  &__img {
    margin-bottom: 3rem;
  }
  &__heading-1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  &__tryAgainBtn,
  &__cancelOrderBtn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    padding: 1.5rem 5rem;
    font-size: 2rem;
    outline: none;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 2rem;
    text-decoration: none;
  }
  &__cancelOrderBtn {
    background-color: #cbcfd3;
    color: #202326;
  }
}

.checkoutCloseBtnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  &__closeIcon {
    font-size: 2.5rem;
  }
  &__closeHeading {
    font-size: 1.2rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

.preload {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000 url("../images/preload.gif") no-repeat center center;
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
}
